doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container
          .row.align-items-center
            .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
              h1.mb-3 Minimum Lead collaction
              p.lead This is a simple web page for the leads
              p.lead.mb-4 Now we have moved to greater heights
              form(action="/", method="POST")
                .input-group.mb-3
                  input(name="lead_email" type="email", placeholder="Enter your email address").form-control
                  .input-group-append
                    button(type="submit").btn.btn-primary Submit
  
    include common/footer.pug
    +footer()
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/javascripts/leads.js')